{% extends 'blank.html.twig' %}

{% block title %}گالری{% endblock %}

{% block body %}

{#        <div id="gallery-slide" class="inline-gallery-container">#}
{#            <!-- Image -->#}

{#            {% for post in posts %}#}

{#            {% if post.fileType == 'IMAGE' %}#}
{#            <a href="{{ (post.fileName != "") ? post.getImagePath : post.link }}">#}
{#                <img src="{{ (post.fileName != "") ? post.getImagePath : post.link }}" />#}
{#            </a>#}
{#            {% else %}#}


{#            <!-- HTML5 Video --->#}
{#            <a#}
{#                    data-lg-size="1280-720"#}
{#                    data-video='{"source": [{"src":"/videos/video1.mp4", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}'#}
{#                    data-poster="{{ post.coverImagePath }}"#}
{#                    data-sub-html="<h4>'Peck Pocketed' by Kevin Herron | Disney Favorite</h4>"#}
{#            >#}
{#                <img#}
{#                        width="300"#}
{#                        height="100"#}
{#                        class="img-responsive"#}
{#                        src="{{ post.getFileNamePath }}"#}
{#                />#}
{#            </a>#}
{#            {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}



        <div id="inline-gallery-container" class="inline-gallery-container">
        </div>




{% endblock %}
{% block js %}
    <script>
        let posts = {{ posts | json_encode | raw }}
    </script>
{% endblock %}
