{% extends 'base.html.twig' %}

{% block title %}مدیریت رسانه های گالری {{ gallery_title }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3 class="text-center"> مدیریت رسانه های گالری: {{ gallery_title }}</h3>
        <a class="btn btn-success mt-3 mb-3" href="{{ path('new_post',{id:gallery_id}) }}">افزودن رسانه جدید</a>
        <button class="btn btn-primary" id="multipleUpload" type="button">آپلود یکجا</button>

        <div class="dropzone mb-4" id="uploadFiles" style="display: none">
        </div>

        <table class="table" id="postTable">
            <thead>
            <tr>
{#                <th scope="col">#</th>#}
                <th>تصویر بندانگشتی</th>
                <th scope="col">عنوان</th>
                <th scope="col">نوع فایل</th>
                <th scope="col">لینک</th>
                <th scope="col">گالری</th>
                <th scope="col">عملیات</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script>

    $('body').on('click','.deletePost',function (e){
        e.preventDefault()
        Swal.fire({
            title: "آیا از حذف این پست مطمئن هستید؟",
            showCancelButton: true,
            confirmButtonText: "تایید",
            cancelButtonText: "لغو",

        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = $(this).data('href')
            } else if (result.isDenied) {

            }
        });
    })

    let postTable = $('#postTable').DataTable({
        ajax: 'search/{{ gallery_id }}',
        columns: [
            { data: 'getThumbnailPath', orderable: false },
            { data: 'title', orderable: false },
            { data: 'fileTypeFa', orderable: false },
            { data: 'link', orderable: false },
            { data: 'gallery_id', orderable: false },
            { data: 'deleteUrl', orderable: false },
        ],
        columnDefs: [
            { width: '20%', targets: 0 },
            { width: '10%', targets: 2 },
            { width: '30%', targets: 3 },
            { width: '10%', targets: 4 },
            { width: '8%', targets: 5 },
        ],
        order: [],
        rowCallback: function (row, data) {
            $('td:eq(0)', row).html(`<img style="height: 80px;width: 80px;border-radius: 5px" src="${data.getThumbnailPath}">`);
            $('td:eq(3)', row).html(`<a target="_blank" href="${data.viewPostLink}">${data.viewPostLink}</a>`);
            $('td:eq(4)', row).html(`<a target="_blank" href="${data.galleryUrl}">${data.galleryTitle}</a>`);
            $('td:eq(5)', row).html(`<a class="d-inline-block deletePost" style="color: red;width: 16px" href="#" data-href="${data.deleteUrl}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </a>
                        <a href="${data.editUrl}" class="ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </a>`);
        },
        "language": {"url": "{{ asset('library/datatable/persian.json') }}"},
    });

    Dropzone.options.uploadFiles = {
        url: "/post/upload",
        autoProcessQueue: true,
        paramName: "file",
        clickable: true,
        maxFilesize: 50, //in mb
        // addRemoveLinks: true,
        acceptedFiles: '.png,.jpg,.jpeg,.gif,.mp4,.avi,.wmv,.webm,.mkv',
        dictDefaultMessage: "Upload your file here",
        init: function () {
            this.on("sending", function (file, xhr, formData) {
                formData.append('gallery_id',"{{ gallery_id }}")
            });
            this.on("success", function (file, responseText, ) {
                postTable.ajax.reload()
            });
            this.on("addedfile", function (file) {
                console.log('file added');
            });
        }
    }


</script>


{% endblock %}