{% extends 'base.html.twig' %}

{% block title %}Add new User{% endblock %}

{% block body %}
    <div class="container mt-4">
{#        <button class="btn btn-danger mt-3 mb-3 d-block ms-auto" onclick="history.back()">بازگشت</button>#}
            <ul>
                {% for error in app.flashes('notice') %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>

        <h3 class="mt-2 mb-5">add new user:</h3>
        <form action="{{ path('save_user') }}" method="post" enctype="multipart/form-data" class="row g-3" autocomplete="off">
            <input type="hidden" name="id" value="{{ user.id ?? '' }}">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">username</label>
                <input type="text" name="mobile" value="{{ user.mobile ?? '' }}" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">password</label>
                <input type="password" name="password"  class="form-control" id="inputPassword4">
            </div>
            <div class="col-4">
                <label for="inputAddress" class="form-label">firstname</label>
                <input type="text" name="fname" value="{{ user.fname ?? '' }}" class="form-control" id="inputAddress" >
            </div>
            <div class="col-4">
                <label for="inputAddress" class="form-label">lastname</label>
                <input type="text" name="lname" value="{{ user.lname ?? '' }}" class="form-control" id="inputAddress" >
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">user group</label>
                <select id="inputState" class="form-select" name="role">
                    <option value="">select...</option>
                    <option {{ ( user is defined and 'ROLE_ADMIN' in user.roles ) ? 'selected' : '' }} value="ROLE_ADMIN">admin</option>
                    <option {{ ( user is defined and 'ROLE_ADMIN' not in user.roles ) ? 'selected' : '' }} value="ROLE_USER">user</option>
                </select>
            </div>
            {% if user is defined and user.photo != "" %}
                <div class="col-md-4 position-relative">
                    <img style="width: 100%" src="{{ user.photoPath }}" alt="{{ user.lname }}">
                    <input type="hidden" name="current_photo" value="{{ user.photo }}">
                    <span id="deleteUserPhoto" style="color: red;position: absolute;bottom: -30px;right: 50%;cursor: pointer;font-size: 25px">X</span>
                </div>
            {% else %}
                <div class="col-md-4">
                    <label for="inputState" class="form-label">profile image</label>
                    <input type="file" name="photo">
                </div>
            {% endif %}


            <div class="col-12">
                <button type="submit" class="btn btn-primary">
                    {{ user is defined ? 'save' : 'add' }}
                </button>
            </div>
        </form>
    </div>


{% endblock %}

{% block js %}
    <script>
        $('#deleteUserPhoto').on('click',function (){
            alert('sd')
        })
    </script>
{% endblock %}


